<app-headers-admin></app-headers-admin>
<body>
    
      <div class="container" >
        <br>
        <h1 class="Title text-center" style="color: #00ffc1;">Mes Prestations</h1>
        <br>
        <div class="text-center">
          <button type="button" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;"  routerLink="/add-prestation" >Ajouter Prestation</button>
      </div>
        <div class="row">
            <div *ngFor="let item of prestations" class="p-2 col-md-4 text-center">
                <div class="card">
                  <div class="card-block">
                    <h2 class="card-title">{{item.title}}</h2>
                    <p class="card-text text-white">{{item.description}} <br>
                       {{item.pictureNumber}} photos</p>
                    <h3 class="card-price">{{item.price}} €</h3>
                    <button type="button" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;" [routerLink]="['/update-prestation', item?.id]" >Modifier</button>
                    
                    <button type="button" class="btn btn-lg btn-outline-danger" style="color: #00ffc1;" (click)="deletePrestation(item)" >Supprimer</button>
                  </div>
                  
                </div>
            </div>

            
        </div>
       <br>
    </div>

  </body>
  <app-footers></app-footers>