<app-headers-admin></app-headers-admin>
<div class="container text-white text-center">
    <form (ngSubmit)="addAlbum()">
        <div class="card">
            <div class="card-header">
                <h1>Ajouter d'un Album</h1>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-white">
                        <h4>Nom de l'album</h4>
                        <input type="email" class="form-control" id="albumLabel" name="albumLabel"
                            [(ngModel)]="album.name">
                    </label>
                    <br>
                    <label for="exampleFormControlFile1">
                        <h4>Image de la cover</h4>
                    </label>
                    <br>
                    <input type="file" class="form-control-file" id="formFile" (change)="changeFile($event)">
                    <br>
                    <button type="submit" class="btn btn-success"> Valider </button>
                </div>
            </div>
        </div>
    </form>

</div>