<app-headers></app-headers>
<div class="container">
    <br>
    <h1 class="text-center" style="color: #00ffc1;"> Mes Albums</h1>
    <br>
    <div   class="row row-cols-1 row-cols-md-3 g-4">


      <div *ngFor="let item of albums" class="col">
        <div class="card">
          <img src= "http://localhost:8080/upload/{{item.cover}}" class="card-img-top" alt="cover-famille"/>
          <div class="card-body text-center">
            <h3 class="card-title">{{item.name}}</h3>
            <br>
            <p class="card-text">
              <button type="button" class="btn btn-outline-secondary" style="color: #00ffc1;" [routerLink]="['/galerie', item?.id]">Aperçu</button>
            </p>
          </div>
        </div>
      </div>
      
<!-- 
        <div class="col">
          <div class="card">
            <img src="assets/static/cover-famille.jpg" class="card-img-top" alt="cover-famille"/>
            <div class="card-body text-center">
              <h3 class="card-title">FAMILLE</h3>
              <br>
              <p class="card-text">
                <button type="button" class="btn btn-outline-secondary" style="color: #00ffc1;">Aperçu</button>
              </p>
            </div>
          </div>
        </div> -->

      </div>
</div>
<app-footers></app-footers>