<div class="container">
  <div class="row">

    <nav class="navbar navbar-expand-sm bg-black">
      <div class="col-sm-3 ">
        <a class="navbar-brand" style="color: #00ffc1" href="#">
          <img src="assets/static/Logo.jpg" width="130" height="130" alt="">
        </a>
      </div>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa-solid fa-bars"></span>
      </button>


      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <button class="btn btn-outline-secondary btn-lg" type="button" id="btn-nav" routerLink="">Accueil</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-secondary btn-lg" type="button" id="btn-nav" routerLink="/admin-page">Ma
              Galerie</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-secondary btn-lg" type="button" id="btn-nav"
              routerLink="/admin-prestation">Mes Tarifs</button>
          </li>
          <li class="nav-item ">
            <button class="btn btn-outline-secondary btn-lg" type="button" id="btn-nav" routerLink="/contact-admin">Mes
              Messages</button>
          </li>
          <li class="nav-item ">
            <button class="btn btn-outline-danger btn-lg" type="button" id="btn-nav" routerLink="/contact-admin">
              DECONNEXION</button>
          </li>
        </ul>
      </div>

    </nav>

  </div>
</div>