<app-headers></app-headers>
<div class="container text-white text-center">
    <h1 style="color: #00ffc1;">Connexion Admin</h1>
<form>
    <div class="form-group row ">
      <label for="staticEmail" class="col-sm-2 col-form-label"> <h4> Email </h4> </label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext text-white" id="staticEmail" value="inno@gmail.com">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label"><h4> Password</h4></label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
  </form>
  <br>
  
  <button type="button" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;" routerLink="">Connexion</button>
</div>

<br>

<app-footers></app-footers>
