<app-headers-admin></app-headers-admin>
<div class="container">
    <h1 class="text-center" style="color: #00ffc1;"> Mes Messages</h1>
    <br>
    <table class="table table-bordered text-white">
        <thead >
            
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Numéro telephone</th>
            <th class="text-center">Message</th>
            <th>Supprimer</th>
          </tr>
        </thead >
        <tbody *ngFor="let item of contacts">
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.message}}</td>
            <td><button type="button" class="btn btn-danger" (click)="deleteMessage(item)">X</button></td>
          </tr>
          
        </tbody>
      </table>
  </div>
  <br>
  <app-footers></app-footers>