
<div class="container ">
  
<footer class="bg-dark text-center text-white " id="footers">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        
        <span class="material-symbols-outlined">
        mail 
            </span>
        <p>
            InnoTwaolow@gmail.com
        </p>
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="text-white" href="#!">Politique confidentialité</a> <br>
        <a class="text-white" href="#!">Condition générales</a>
        
    </div>
    <!-- Copyright -->
  </footer>
