<app-headers-admin></app-headers-admin>
<br>
<div class="container text-center">
  <h1 class="text-center" style="color: #00ffc1;"> Mes Albums</h1>
  <br>
  <button type="button" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;" routerLink="/add-album">AJOUTER UN ALBUM</button>
<div *ngFor="let item of albums" class="card mb-4 bg-dark" >
    <div class="row ">
      <div  class="col-md-4">
        <img src= "http://localhost:8080/upload/{{item.cover}}" class="img-fluid rounded-start" alt="...">
      </div>     
      <div class="col-md-8 ">
        <div class="card-body text-center" id="card">
          <h2 class="card-title text-white">{{item.name}}</h2>
          <br>
          <button type="button" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;" [routerLink]="['/admin-page', item?.id]">Modifier</button>
          <br>
          <button type="button" class="btn btn-lg btn-outline-danger" style="color: #00ffc1;" (click)="deleteAlbum(item!)">Supprimer</button>
                 
        </div>

      </div>
      
    </div>
  </div>

  
</div>
<br>

<app-footers></app-footers>