<app-headers></app-headers>
<div class="container">
    <br>
    <h1 class="text-center" style="color: #00ffc1;"> Images</h1>
    <br>
    <div   class="row row-cols-1 row-cols-md-3 g-4">

      <div *ngFor="let item of image" class="col">
        <div class="card bg-dark">
          <img src="http://localhost:8080/upload/{{item.image}}" class="card-img-top" alt="cover-famille"/>
          <div class="card-body text-center text-white">
            <br>
            <p class="card-text">
              {{item.date}}
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
<br>

<app-footers></app-footers>