<app-headers></app-headers>
<div class="container">
    <form (ngSubmit)="update(prestation!)">
        <h1 class="text-center" style="color: #00ffc1;"> Prestation Update</h1>
        <br>
        <div class="card-body" *ngIf="prestation">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label text-white">
                    <h5>Nom de prestation</h5>
                </label>
                <input type="email" class="form-control" id="nameAlbum" name="nameAlbum"
                    [(ngModel)]="prestation.title">
                <br>
                <label for="exampleFormControlInput1" class="form-label text-white">
                    <h5>Prix</h5>
                </label>
                <input type="email" class="form-control" id="price" name="price" [(ngModel)]="prestation.price">
                <br>
                <label for="exampleFormControlInput1" class="form-label text-white">
                    <h5>Nombre de photo</h5>
                </label>
                <input type="email" class="form-control" id="picture Number" name="picture"
                    [(ngModel)]="prestation.pictureNumber">
                <br>
                <label for="exampleFormControlTextarea1" class="form-label text-white">
                    <h5>Description</h5>
                </label>
                <textarea class="form-control" id="description" name="description" rows="3"
                    [(ngModel)]="prestation.description"></textarea>
            </div>
            <div class="card-footer text-center bg-black">
                <button type="submit" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;">
                    <h3>Validez</h3>
                </button>
            </div>
        </div>
    </form>
</div>
<app-footers></app-footers>