.nav-item {
    text-align: end;
    margin-right: 20px;
    color: #00ffc1;;
  }
  .navbar-toggler-icon {
    color: #00ffc1;
  }
  .navbar-toggler{
    color: #00ffc1;
    margin-right: 20px;
  }
  .navbar-brand{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace
  }
  
  .nav-link {
      color: #00ffc1;
  }

  #btn-nav {
      color: #00ffc1;
  }