<app-headers></app-headers>
<div class="container text-center" >
    <br>
    <h1  class="text-center" style="color: #00ffc1;"> Image</h1>
    <div class="title-album"></div>
    <br>
    <button type="button" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;" [routerLink]="['/add-image/',IdAlbum]">AJOUTER IMAGE</button>
    <br>
    <div   class="row row-cols-1 row-cols-md-3 g-4">
    
      <div *ngFor="let item of images" class="col">
        <div class="card bg-dark">
          <img src="http://localhost:8080/upload/{{item.image}}" class="card-img-top" alt="cover-famille"/>
          <div class="card-body text-center text-white">
            <br>
            <p class="card-text">
              {{item.date}}
              
              
            </p>
            <button type="button" class="btn btn-lg btn-outline-danger" style="color: #00ffc1;" (click)="deleteImage(item)">Supprimer</button> 
          </div>
        </div>
      </div>
    </div>
</div>
<br>

<app-footers></app-footers>
