<app-headers></app-headers>

<div class="container">
<div class="card mb-3 bg-black">
  <img src="assets/static/accueil.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title text-center" style="color: #00ffc1 ;"> Inno Twaolow</h1>
    <h2 class="card-text text-center" style="color: #00ffc1;" >PHOTOGRAPHE PROFESSIONNEL</h2>
    <div class="text-center">
      <br>
    <button type="button" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;" routerLink="/contactez-moi">Contactez-moi</button>
    </div>
  </div>


  <div class="card mb-4 bg-black" >
    <div class="row ">      
      <div class="col-md-8 ">
        <div class="card-body" id="card">
          <h5 class="card-title text-white">A propos de moi</h5>
          <p class="card-text text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>          
        </div>
      </div>
      <div class="col-md-4">
        <img src="assets/static/Inno.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>


</div>
</div>
<app-footers></app-footers>