<app-headers></app-headers>
<div class="container">
<div class="row ">
<div class="mb-3">
         
  
  <form (ngSubmit)="addContact()">
<div class="card mb-4 bg-black" style="height: 500px">
  <div class="card-header text-center" style="color: #00ffc1;" > <h1>Contactez-moi</h1></div>
 
  <div class="card-body">
     
        <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label text-white"> <h5>prénom</h5> </label>
    <input type="email" class="form-control" id="firstname" name="firstname" [(ngModel)]="contact.name" >
    <br>
    <label for="exampleFormControlInput1" class="form-label text-white"> <h5>Email</h5> </label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="contact.email">
    <br>
    <label for="exampleFormControlInput1" class="form-label text-white"> <h5>Numéro Telephone</h5> </label>
    <input type="email" class="form-control" id="phone Number" name="phone" [(ngModel)]="contact.phoneNumber">
    <br>
    <label for="exampleFormControlTextarea1" class="form-label text-white"> <h5>Message</h5> </label>
    <textarea class="form-control" id="message" name="message" rows="3" [(ngModel)]="contact.message"></textarea>
  </div>  
</div>
</div>

<div class="card-footer text-center bg-black">
  <button type="submit" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;"> <h3>Envoyez</h3> </button>
</div>
</form>

</div>

  
  
    
  </div>
  
  </div>