<app-headers></app-headers>
<body>
    
      <div class="container" >
        <br>
        <h1 class="Title text-center" style="color: #00ffc1;">Mes Prestations</h1>
        <br>
        <div class="row">
            <div *ngFor="let item of prestation" class="p-2 col-md-4 text-center">
                <div class="card">
                  <div class="card-block">
                    <h2 class="card-title">{{item.title}}</h2>
                    <p class="card-text text-white">{{item.description}} <br>
                       {{item.pictureNumber}} photos</p>
                    <h3 class="card-price">{{item.price}} €</h3>
                  </div>
                </div>
            </div>

            
        </div>
        <br>
     <div class="text-center">
        <button type="button" class="btn btn-lg btn-outline-secondary" style="color: #00ffc1;"  routerLink="/contactez-moi" >Contactez-moi</button>
    </div>
    <br> 
    </div>

  </body>
  <app-footers></app-footers>