<app-headers-admin></app-headers-admin>
<div class="container text-white text-center">
    <form (ngSubmit)="addImage()" >
        <div class="card">
            <div class="card-header">
                <h1>Ajouter Image </h1>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlFile1">
                        <h4>Image</h4>
                    </label>
                    <br>
                    <input type="file" class="form-control-file" id="formFile" (change)="changeFile($event)" >
                    <br>
                    <br>

                    <br>
                    <button type="submit" class="btn btn-success"> Valider </button>
                </div>
            </div>
        </div>
    </form>
</div>